<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="margin: 5%">
      <div class="approvedForm2">
        <div style="display: flex">
          <div>
            <img
              class="logo2"
              src="https://form-2-pdf.herokuapp.com/images/templateImages/logo_health&safety.png"
              alt="logo"
            />
          </div>
          <div style="text-align: center; margin-left: 50px">
            <h3 style="font-size: 16px; margin: 0">
              Safety, Health and Welfare at Work (Construction) Regulations 2013
            </h3>
            <div style="display: flex; margin: 5px">
              <h1 style="font-size: 20px; margin: 0 30px">
                Approved Form (AF3)
              </h1>
              <div style="margin: 0">
                Regulation 52(3)<br />Regulation 60(2)
              </div>
            </div>
            <div style="text-align: left">
              <h3 style="font-size: 16px">
                Thorough Examination of:<br />(a)Excavations, Shafts,
                Earthworks, Underground Works or Tunnels;<br />(b) Cofferdams or
                Caissons;
              </h3>
            </div>
          </div>
        </div>
        <p style="font-size: 20px"><b>Notes:</b></p>
        <p><b>General:</b></p>
        <p>
          1. This form contains the report of the results of any examination of
          excavations, shafts, earthworks, underground works, tunnels,
          cofferdams or caissons.
        </p>
        <p>
          2. The report must be signed by the person carrying out the
          examination and shall be made on the day of such examination.
        </p>
        <p>
          3. The report shall be kept on site while work is being carried out
          otherwise it shall be kept at an office of the contractor for whom the
          inspection was carried out. Where it is likely that work will not
          exceed 30 working days in duration, the report may also be kept
          off-site as indicated above.
        </p>
        <p>
          4. Regulation 3(4) provides that where under these Regulations
          records, reports,certificates or other documents are required to be
          made and kept, it is sufficient compliance with the requirement if the
          person concerned:<br />
          (a) enters the record, report, certificate or other document in an
          approved form in a computer, and;<br />
          (b) duly authenticates it as soon as is practicable afterwards.
          Inspection:
        </p>
        <p><b>Inspection:</b></p>
        <p>
          5. Excavations, shafts, earthworks, underground works, or tunnels;
          every part of any excavation, shaft, earthwork, underground works or
          tunnel where persons are at work must be inspected by a competent
          person at least once in every day during which persons are at work
          therein. The face of every tunnel, the working end of every trench
          more than 2 metres deep and the base and crown of every shaft must be
          inspected by a competent person at the commencement of every shift.
        </p>
        <p>
          6. Cofferdams or caissons in which persons are at work the cofferdam
          or caisson must be inspected by a competent person at least once every
          day during which persons are working in the cofferdam or caisson.
        </p>
        <p><b>Thorough Examination:</b></p>
        <p>
          7. A thorough examination must be carried out:<br />
          (a) of every part of it within the immediately preceding 7 days.<br />
          (b) of those parts of it and in particular any shoring or other
          support, in the region of a blast after explosives have been used in
          or near the excavation, shaft, earthwork, underground work or tunnel
          in a manner likely to have affected the strength or stability of that
          shoring or other support of any part of it. In case explosives have
          been used in or near the cofferdam or caisson in a manner likely to
          have affected the strength or stability of the cofferdam or caisson or
          any part thereof, since the use of the explosives, and;<br />
          (c) of those parts of it in the region of any shoring or other support
          of any part of it that has been substantially damaged and in the
          region of any unexpected fall of rock or earth or other material. In
          the case of cofferdam or caisson, where the cofferdam or caisson has
          been substantially damaged.
        </p>
        <p>
          8. A thorough examination does not have to be carried out:<br />
          (a) to any excavation, shaft or earthwork where, having regard to the
          nature and slope of the sides of the excavation, shaft or earthwork
          and other circumstances, a fall or dislodgement of earth or other
          material which -<br />
          (i) would bury or trap a person, or;<br />
          (i) would strike a person from a height of more than 1.25 metres is
          not likely to occur, or;<br />
          (b) in relation to persons carrying out inspections or examinations
          required by this Regulation or engaged in shoring or other work for
          the purpose of making a place safe or construction, placing, repairing
          or alteration of a cofferdam or caisson, if appropriate precautions
          are taken, so far as is reasonably practicable, to ensure their safety
          and health.
        </p>
        <p style="margin-top: 50px;">
          Published by the Health & Safety Authority, Metropolitan Building,
          James Joyce Street, Dublin 1 -- Tel: 1890 289 389
        </p>
      </div>
    </section>
    <style>
      .approvedForm2 .logo2 { width: 100px; height: 50px; margin: 10px; }
      .approvedForm2 p { font-size: 14px; } .page-break { page-break-after:
      always; }
    </style>
  </body>
</html>