<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <section
      class="page-break"
      style="
        position: relative;
        margin: 30% -10%;
        transform: rotate(90deg);
        width: 742pt;
        justify-content: center;
      "
    >
      <div class="methodStatement10">
        <img class="logo" src="http://localhost:5000/logo.png" alt="logo" />
        <div>
          <h4>Richard Nolan Civil Engineering Ltd</h4>
          <h4>Method Statement and Risk Assessment</h4>
          <h4>Cable Fault Generic</h4>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td>Unsafe use of bitumen boiler.</td>
                <td>Crew, delivery drivers and members of the public</td>
                <td>7</td>
                <td>5</td>
                <td>35</td>
                <td>
                  Only competent persons are permitted to use the hot box.<br
                  /><br />
                  The hot box must be inspected prior to use.<br /><br />
                  If the hot box is found to be faulty, it must not be used and
                  the fault reported to your manager.<br /><br />
                  Gas bottles on the hot box must be secured with chains.<br
                  /><br />
                  Gas bottles and regulators must be inspected before use.<br
                  /><br />
                  If the regulator does not make proper contact with the gas
                  bottle, it must not be used and it must be reported to your
                  manager.<br /><br />
                  The hot box must be parked in a safe and secure manner,
                  surrounded by RNCE barriers so that members of the public may
                  not accidentally or otherwise come into contact with hot
                  parts.<br /><br />
                  The hot box must have a functioning, in date fire
                  extinguisher/ fire blanket, a burn kit and a first aid kit
                  present.<br /><br />
                  If the hot box must be entered, for service reasons, the
                  person entering the hotbox must have received confined space
                  training and the hot box must have been allowed to cool to an
                  acceptable temperature.
                </td>
                <td>7</td>
                <td>2</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Hot surfaces.</td>
                <td>Crew, delivery drivers and members of the public</td>
                <td>7</td>
                <td>7</td>
                <td>49</td>
                <td>
                  Crew must not touch any of the hot parts of the hot box.<br
                  /><br />
                  Gloves must be worn when operating the bitumen boiler.
                </td>
                <td>7</td>
                <td>2</td>
                <td>14</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <style>
      .methodStatement10 body { padding: 0; margin: 0; font-size: 11px; }
      .methodStatement10 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .methodStatement10 table { border-collapse:
      collapse; width: 100%; margin-top: 10px; } .methodStatement10 th,
      .methodStatement10 td { border: 1px solid #ddd; padding: 6px; text-align:
      left; } .methodStatement10 th { background-color: #f2f2f2; }
      .methodStatement10 td { vertical-align: top; } .methodStatement10 tr {
      height: 36px; } .methodStatement10 caption { font-weight: bold;
      background-color: #333; color: #fff; padding: 6px; } .methodStatement10
      .page-break { page-break-after: always; }
    </style>
  </body>
</html>