<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="position: relative; margin: 5%">
      <div class="methodStatement13">
        <img class="logo" src="http://localhost:5000/images/templateImages/logo.png" alt="logo" />
        <div>
          <h4>Richard Nolan Civil Engineering Ltd</h4>
          <h4>Method Statement and Risk Assessment</h4>
          <h4>Cable Fault Generic</h4>
          <h4>Emergency Contacts</h4>
          <p>
            <span>Garda / Ambulance / Fire</span>
            <span style="margin-left: 50px">999</span>
          </p>
          <p>RNCE Site Manager</p>
          <p>
            <span>RNCE Project Manager:</span>
            <span style="margin-left: 50px">Andrew Flanagan</span>
            <span style="margin-left: 50px">M: 086 0144 767</span>
          </p>
          <p>
            <span>RNCE HSEQ Manager:</span>
            <span style="margin-left: 50px">Raymond Shelly</span>
            <span style="margin-left: 50px">M: 087 7474 419</span>
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th>PRINT NAME:</th>
              <th>SIGNATURE:</th>
              <th>DATE:</th>
            </tr>
          </thead>
          <tbody>
            {{#each site_attendances}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  <img
                    src="http://localhost:5000/images/documents/{{this.signature}}"
                    alt="signature"
                  />
                </td>
                <td>{{formatDate this.date}}</td>
              </tr>
            {{/each}}
            {{#if (lessthen site_attendances.length 18)}}
              {{#each (range site_attendances.length 18)}}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </section>
    <style>
      .methodStatement13 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .methodStatement13 table { border-collapse:
      collapse; width: 100%; margin-top: 20px; } .methodStatement13 th,
      .methodStatement13 td { border: 1px solid #ddd; padding: 8px; text-align:
      left; } th { background-color: #f2f2f2; } .methodStatement13 tr { height:
      36px; } .methodStatement13 img {height: 20px; width: auto; margin: 0;
      padding: 0;} .page-break { page-break-after: always; }
    </style>
  </body>
</html>