<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="position: relative; margin: 5%">
      <div class="method_statement2">
        <img class="logo" src="https://kendra-form2pdf.netlify.app/images/templateImages/logo.png" alt="logo" />
        <div>
          <h4>Richard Nolan Civil Engineering Ltd</h4>
          <h4>Method Statement and Risk Assessment</h4>
          <h4>Cable Fault Generic</h4>
          <p>Work Methodology</p>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <th>#</th>
                <th>Steps</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>RR</th>
              </tr>
              <tr>
                <th>1</th>
                <td>
                  Toolbox talk on working near electricity, traffic & pedestrian
                  management as well as working with concrete
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  Information made available to personnel on site to inform of
                  any risks or hazards
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>2</th>
                <td>
                  Set up TMP as per accepted drawing<br />Set up site works area<br
                  />Install barriers around the perimeter of the work zone
                </td>
                <td>Signage, barriers</td>
                <td>Access to the site by members of the public</td>
                <td>Moderate</td>
                <td>Barriers to be secured by competent operative</td>
                <td>Low</td>
              </tr>
              <tr>
                <th>3</th>
                <td>
                  Review utility drawings-sign and date drawings for the area
                  that you are working in each day.<br />
                  When works are located within dig area its mandatory
                  requirement to have photographic documentation for 3 phases of
                  the dig; each photo has to have time, date and GPS stamp.<br
                  />
                  1. Phase: services spray painted before cutting or
                  breaking/digging has occurred<br />
                  2. Phase: Picture of trial hole with spray painted rout of
                  service (in red). Make sure that nearest edge of trial hole to
                  scanned location or service line is no less then 300mm, hand
                  digging only within 500mm of service line<br />
                  3. Phase: Photo three needs to show the route of the service
                  spray painted with the trial hole dug out and the service
                  exposed at the bottom of the trial hole dig. Pic taken at an
                  angle into the excavation showing the service.
                </td>
                <td>Appendix</td>
                <td></td>
                <td></td>
                <td>
                  Site survey<br />
                  <p>
                    <b>!!!IDENTIFY HIGH VOLTAGE CABLES & OVERHEAD LINES!!!</b>
                  </p>
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>4</th>
                <td>
                  1. Area to be scanned using CAT and ground to be marked up
                  prior to any works commencing on site looking out for service
                  indicators above ground.<br />
                  2. Trace the service out of the dig area, marking the position
                  as required with spray paint.<br />
                  3. Ensure that the ground is well marked and all the crew
                  members fully understand all the ground markings, where all
                  buried services were located before excavation commences.<br
                  />
                  4. Place the Genny on the ground in line with the suspected
                  route of the target lines.<br />
                  5. Using the C.A.T away from the Genny, pinpoint the position
                  of the target line.<br />
                  6.Service drawings to be studied and locations which indicate
                  the presence of services to be checked against the CAT
                  identified markings. If services are shown on drawings but not
                  picked up by the scanner these areas indicated on the drawings
                  must be treatedas having potential services., until further
                  investigation proves otherwise.<br />
                  7.All indicators such as: ESB furniture, Gas furniture, street
                  furniture, water meters in residences should also be included
                  as part of the investigation of possible service locations.<br
                  />
                  8.Once all potential services located by the CAT and from
                  drawings and furniture indicators have been marked, the
                  location of the trial holes should be marked near any
                  potential service.<br />
                  9.The surface of these dig locations/trial holes, may be
                  broken mechanically or by hand.<br />
                  10. Using a road saw, cut the line of the trial hole.<br />
                  11. Once the surface is removed the excavation (trial hole) to
                  the potential Surface must be carried out by hand. No breaking
                  and/ or digging to take place directly over the service.<br />
                  12.Once physically located, these services will be identified
                  and exposed by hand digging. If service is proven in concrete
                  a switch out will be required. Never try to break/nibble in to
                  a service encased in concrete.<br />
                  13.When the surface is completely broken and removed trenching
                  may commence in the areas where no services were marked and
                  are 500mm away from the located services. Place a physical
                  item, such as: timber planks or a shovel near the service to
                  visually guide the excavator operator away from the service
                  and stop the bucket from damaging the service this should be
                  located approximately 500mm away. During the excavation check
                  for services, paying attention to any changes in the soil
                  type, colour and smell. Excavator driver to notify his
                  banksman if he feels any change in this controls. Banksman to
                  check the area.<br />
                  14. There is no way of confirming whether or not there is
                  service present in the area despite no signal being picked up
                  by the CAT or no drawings showing any services, so we must
                  treat them as having services.<br />
                  15.The trenching process should just take a scrape of the
                  surface in each run.<br />
                  16.This trenching process will be implemented between the
                  located service exclusion zones.<br />
                  17.When scraping the ground the banksman is to examine each
                  layer by scanning and hand digging regularly to check for the
                  presence of a services. paying attention to any changes in the
                  soil type, colour and smell. Once banksman is sure the layer
                  is clear the excavator driver can scrape away the layer.
                  Excavator driver to notify his banksman if he feels any change
                  in this controls. Banksman to check the area.<br />
                  18. Hand digging must be implemented within the located
                  services.<br />
                  19.The trenching process must be implemented for the full
                  depth of the excavation using safe systems of digging.
                </td>
                <td>CAT and Genny</td>
                <td>In-correct marking</td>
                <td>Moderate</td>
                <td>
                  CAT must be certified for user Trained operator (CSCS
                  Certified) and LUGS training.<br />
                  Remember that services cables and public lights may not be
                  shown.<br />
                  Do not assume that CATs find buried utilities. They find
                  signals. Use the CAT in all models of operation to detect all
                  signals.<br />
                  Do not assume once a shallow cable or pipe is excavated that
                  this is the only utility there. Use the CAT and check to make
                  sure there are no additional buried utilities.<br />
                  Repeat the sweep process at regular depth intervals during the
                  excavation.<br />
                  Any identifled services using the CAT should be reflected in
                  the permit to dig. Completed permit daily.<br />
                  Sometimes it is not possible to define a zero and a maximum
                  signal over a buried service, particularly when it is
                  radiating a strong Power signal. Raise the C.A.T to 0.5 m from
                  the ground, reducing the sensitivity if necessary, then rotate
                  to find the minimum signal.<br />
                  Ensure that the ground is well marked where all buried
                  services were located before excavation commences.<br />
                  If the signal is lost, stop and locate in a circle 1 m around
                  the point where the signal was lost. The C.A.T gave a response
                  where the service entered the circle, and if the service has
                  curved, another response where it leaves the circle. If there
                  is no second response, increase the sensitivity to check if
                  the signal has divided into a tee or has weakened due to
                  increased depth. Trace the service back to a point where it
                  can be identified, i.e. valve, junction box, street lighting
                  column etc.<br />
                  Do not use hand held power tools directly over marked line of
                  cable UNLESS (a) You have already found the cable at that
                  position by careful hand digging beneath the surface AND it is
                  at a safe depth (at least 300mm) below the bottom of the
                  surface to be broken OR (b) Physical means have been used to
                  prevent the tool striking it.<br />
                  When the surface has been broken out, use Cable Locator again
                  to re-confirm the n position of services. Frequent and
                  repeated use should be made of CAT during the course of the
                  work.<br />
                  Do not handle or attempt to alter the position of exposed
                  electricity cables (unless under the direction of approved ESB
                  personnel).<br />
                  All personnel on site must implement the rules and guidelines
                  set out by the ESB regarding safe digging practice.<br />
                  Special care should be taken when digging above or close to
                  the assumed lines of any services. Every effort should be made
                  to excavate alongside the service rather than directly above
                  it. Final exposure of the service by horizontal digging is
                  recommended as the force applied to hand tools may be
                  controlled more effectively.<br />
                  Do not use hand held power tools within 0.5 metres of marked
                  position of electricity cables unless the no. of services
                  makes it impossible or surface obstructions reduce the space
                  available.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>5</th>
                <td>
                  Identify ESB pole locations. These can be used to determine
                  the route of the duct.
                </td>
                <td>Line marker, barriers, grab lorry to be in place</td>
                <td>Trench collapse, damage to exposed services</td>
                <td>Moderate</td>
                <td>
                  All exposed services are required to be protected. Keep the
                  spoil material away from road and excavation.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>6</th>
                <td>
                  1. Using a road saw, cut the line of the grab/roa excavation
                  and break out the existing surface with breaker attachment.<br
                  />
                  2. Scrape to required depth using a toothless bucket. Use hand
                  tools within 500mm of known services.<br />
                  3.Backfill with sand and stone in accordance with
                  ESB'specification.
                </td>
                <td>3T Excavator, grab / road lorry, hand tools, Road Saw.</td>
                <td>
                  Cable dig in / strike, slip / trips, and falls, trench
                  collapse
                </td>
                <td>High</td>
                <td>
                  REPORT ANY CONCERNS TO ESB SUPERVISOR AND RNCE SUPERVISOR<br
                  />
                  Hand digging is required around known services. Utilise
                  banksmen throughout entire process. CSCS ticket holder to
                  operate excavator. LUGS operative to continue to scan area
                  using CAT. Be aware of warning tape. Safe access to the work
                  zone to be maintained at all time<br />
                  Beware of children, other members of the public<br />
                  All persons on site must wear PPE: hard hats with visor and
                  chin strap, steel toed boots, high visibility vests. Dust
                  mask, impact resistant goggles and hearing protection when
                  using angle grinder, consaw, road saw or any other equipment
                  that may require such PPE.<br />
                  Ensure spoil is kept greater than 1m from the edge of the
                  trench.<br />
                  Safe access to the work zone to be maintained at all time.<br
                  />
                  Special care should be taken when digging above or close to
                  the assumed lines of any services. Every effort should be made
                  to excavate alongside the service rather than directly above
                  it. Final exposure of the service by horizontal digging is
                  recommended as the force applied to hand tools may be
                  controlled more effectively.<br />
                  WATCH OUT FOR OVERHEAD WIRES<br />
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>7</th>
                <td>
                  Alow ESB to carry out repairs giving safe access and egress
                </td>
                <td>Excavator, grab / road lorry, hand tools</td>
                <td>
                  Cable dig in / strike, slip / trips, and falls, trench
                  collapse
                </td>
                <td>Moderate</td>
                <td>
                  CSCS ticket holder to operate excavator. Batter back trench or
                  put temporary works in place. Safe access to the work zone to
                  be maintained at all times.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>8</th>
                <td>
                  Place 65mm sand to base of excavation.<br />
                  Place ducts as Per ESB Spec.
                </td>
                <td>Excavator, grab / road lorry, hand tools</td>
                <td>Strike, slip / trips, and falls, trench collapse</td>
                <td>High</td>
                <td>
                  Hand digging is required. Utilise banksmen throughout entire
                  process. CSCS ticket holder to operate excavator. Continue to
                  scan area using CAT. Be aware of warning tape. Safe access to
                  the wark zone to be maintainedat all times.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>9</th>
                <td>
                  Place Required Back fill on top of ducts and roll out marker
                  board.<br />
                  Place Required Back fill on top of marker board.<br />
                  Compact this back fill in layers to underside of surface.<br
                  />
                  Cap off the excavation with temparary tarmacadam.
                </td>
                <td>Excavator, grab / road lorry, hand tools</td>
                <td>Strike, slip / trips, and falls, trench collapse</td>
                <td>Moderate</td>
                <td>
                  CSCS ticket holder to operate excavator. Batter back trench or
                  put temparay works in place. Safe access to the work zone to
                  be maintained at all times.<br />
                  Ensure Surface of tarmacadam is smooth and level.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>10</th>
                <td>
                  Backfil trench in layers in accordance with ESB specification.
                  Temporarily reinstate surface using temporary tarmacadam. If
                  the work is located within the Dun laoighre-Rathdown Council
                  boundary, use hot tar to temporary reinstate.
                </td>
                <td>Grab Lorry, Roller, Whacker Plate, mini digger, dumper</td>
                <td>Moving Machinery, Loss of limb, Chemical Burns</td>
                <td>Moderate</td>
                <td></td>
                <td>Low</td>
              </tr>
              <tr>
                <th>11</th>
                <td>
                  Remove temporary tarmacadam by scraping it off with the mini
                  digger and deposit in a dumper or grab lorry.
                </td>
                <td>
                  Excavator, grab / road lorry, hand tools, Hot box, Concrete
                  wagon
                </td>
                <td>Access to the site by members of the public</td>
                <td>Low</td>
                <td>
                  CSCS ticket holder to operate excavator, manual handling, safe
                  pass, card holders Safe access to the work zone to be
                  maintained at all times.<br />
                  All concrete to be fully compacted and fully cured prior to
                  removal of barriers.<br />
                  All tarmacadam to be compacted and levelled and sealed with
                  bitumen to the edges.<br />
                  PPE must be worn at all times. Concrete and Tarmacadam will
                  cause chemical burns when in contact with skin. If either
                  material gets into contact with your skin, consult a doctor
                  and bring along the revevant MSDS from the site folder.<br />
                  Notify Site Management.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>12</th>
                <td>
                  Reinstate tarmacadam. Wheel barrows of tarmacadam from the hot
                  box to the trench and rake out level.<br />
                  Roll or compact the tarmacadam using either a whacker plate or
                  roller and seal all sides with bitumen in accordance with ESB
                  specification.<br />
                  Reinstate concrete.<br />
                  Wheel barrows of concrete from the concrete wagon to the
                  trench and rake out level.<br />
                  Compact the concrete using hand tools, rake level, trowel
                  finish and pratect from adverse weather.
                </td>
                <td>
                  Hot Box, Hand tools, whellbarrows, roller, whacker plate,
                  concrete wagon.
                </td>
                <td>Chemical Burns, Fire, Back unjury, Slips, Trips, Falls.</td>
                <td>Moderate</td>
                <td>
                  Only competent person to operate the Hot Box.<br />
                  All persons on site must have Manual Handling training.<br />
                  All persons on site must wear PPE and report any skin
                  irritation to a doctor in the company of the relevant MSDS
                  located in the site folder.<br />
                  Compact tarmacadam so that it is smooth and level.<br />
                  Wash down all plant and equipment after works are complete.<br
                  />
                  Remove splashes of concrete immediately if it gets in contact
                  with the skin.<br />
                  When using a consaw, supress the dust using a watering can.<br
                  />
                  Wear PPE including dust mask and impact resistant goggles.<br
                  />
                  When lifting paving stones, use manual handling training, bend
                  your knees and keep your back.
                </td>
                <td>Low</td>
              </tr>
              <tr>
                <th>13</th>
                <td>
                  Remove all machinery, plant, barriers and ensure site is clean
                  and tidy.<br />
                  Take photographs before leaving the site.
                </td>
                <td>Site walk downs, Signs, barriers.</td>
                <td>Slips, Trips, Falls, Back injury.</td>
                <td>Moderate</td>
                <td>
                  CSCS ticket card holders to operate corresponding plant.<br />
                  SLG operative to remove all signs and barriers.
                </td>
                <td>Low</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <style>
      .method_statement2 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .method_statement2 p { font-size: 11px; }
      .method_statement2 table { border-collapse: collapse; width: 100%;
      margin-top: 0px; } .method_statement2 th, .method_statement2 td { border:
      1px solid #ddd; padding: 8px; text-align: left; } .method_statement2 th {
      background-color: #f2f2f2;} .method_statement2 tr { height: 36px;
      font-size: 11px; } .page-break { page-break-after: always; }
    </style>
  </body>
</html>