<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <section
      class="page-break"
      style="
        position: relative;
        margin: 40% 5%;
        transform: rotate(90deg);
        width: 742pt;
        justify-content: center;
      "
    >
      <div class="methodStatement6">
        <img class="logo" src="http://localhost:5000/logo.png" alt="logo" />
        <div>
          <h4>Richard Nolan Civil Engineering Ltd</h4>
          <h4>Method Statement and Risk Assessment</h4>
          <h4>Cable Fault Generic</h4>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td>
                  Incorrect / unsafe use of plant and equipment.<br /><br />
                  The following is a non-exhaustive list of plant and lifting
                  equipment in use in RNCE Ltd;<br /><br />
                  Site dumper, 180 excavator, 360 excavator, mini digger, air
                  compressors, gas burners, bitumen boilers, consaw, chains, and
                  slings.
                </td>
                <td>Crew, delivery drivers and members of the public</td>
                <td>7</td>
                <td>7</td>
                <td>49</td>
                <td>
                  Only plant which is suitable for each task is to be used.<br
                  /><br />
                  All plant to be used only by suitably trained operatives.<br
                  /><br />
                  Where a specific CSCS card is required to operate a plant
                  item, only those operatives who are in possession of a valid
                  CSCS card may operate such plant.<br /><br />
                  Only operatives who have been trained and authorised (for
                  service and maintenance purposes) may operate plant.<br /><br
                  />
                  Excavators lifting over 1000kgs must be fitted with a Safe
                  Load Indicator and an alarm and must be inspected daily with
                  the results recorded on Mobile Plant Inspection Form.<br /><br
                  />
                  The excavator operator must keep the slewing distance as small
                  as possible and must not slew out over public areas.<br /><br
                  />
                  Keys must be removed from all vehicles when not in use.
                </td>
                <td>7</td>
                <td>2</td>
                <td>14</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <style>
      .methodStatement6 body { padding: 0; margin: 0; font-size: 11px; }
      .methodStatement6 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .methodStatement6 table { border-collapse:
      collapse; width: 100%; margin-top: 10px; } .methodStatement6 th,
      .methodStatement6 td { border: 1px solid #ddd; padding: 6px; text-align:
      left; } .methodStatement6 th { background-color: #f2f2f2; }
      .methodStatement6 td { vertical-align: top; } .methodStatement6 tr {
      height: 36px; } .methodStatement6 caption { font-weight: bold;
      background-color: #333; color: #fff; padding: 6px; } .methodStatement6
      .page-break { page-break-after: always; }
    </style>
  </body>
</html>