<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <section
      class="page-break"
      style="
        position: relative;
        margin: 30% -10%;
        transform: rotate(90deg);
        width: 742pt;
        justify-content: center;
      "
    >
      <div class="methodStatement3">
        <img class="logo" src="http://localhost:5000/logo.png" alt="logo" />
        <div>
          <h4>Richard Nolan Civil Engineering Ltd</h4>
          <h4>Method Statement and Risk Assessment</h4>
          <h4>Cable Fault Generic</h4>
          <h3>Risk Assessments</h3>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td>Incorrect or inadequate site set-up</td>
                <td>Crew, delivery drivers and members of the public</td>
                <td>6</td>
                <td>7</td>
                <td>42</td>
                <td>
                  All sites will be set up in accordance with Chapter 8
                  guidelines.<br /><br />
                  All signage will conform to Chapter 8 guidelines and will be
                  erected at correct locations.<br /><br />
                  All sites are to be secured by either RNCE Ltd barriers or
                  Heras fencing.<br /><br />
                  Adequate and suitable signage to be erected to inform public
                  of the works.<br /><br />
                  Footways of sufficient width (desirable 1.8m, minimum 1.2m)
                  must be maintained at all times, including temporary ramps
                  where required.<br /><br />
                  Roads and footpaths to be maintained and kept free from dirt /
                  debris.<br /><br />
                  Traffic management plans to be implemented as required.<br
                  /><br />
                  Where required, a leaflet drop will be undertaken by RNCE Ltd
                  a few days before work commences (e.g. special needs
                  facilities).<br /><br />
                  Courtesy signs are erected at the work site.<br /><br />
                  If a compound is required, this must be set up in the same
                  manner as the work site set up, i.e. barriers and signage.<br
                  /><br />
                  No person under the influence of alcohol or drugs may attend
                  site.<br /><br />
                  All crews must display the standard RNCE Working on behalf of
                  the ESB Sign. of the ESB Sign.
                </td>
                <td>6</td>
                <td>2</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <style>
      .methodStatement3 body { padding: 0; margin: 0; font-size: 11px; }
      .methodStatement3 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .methodStatement3 table { border-collapse:
      collapse; width: 100%; margin-top: 10px; } .methodStatement3 th,
      .methodStatement3 td { border: 1px solid #ddd; padding: 6px; text-align:
      left; } .methodStatement3 th { background-color: #f2f2f2; }
      .methodStatement3 td { vertical-align: top; } .methodStatement3 tr {
      height: 36px; } .methodStatement3 caption { font-weight: bold;
      background-color: #333; color: #fff; padding: 6px; } .methodStatement3
      .page-break { page-break-after: always; }
    </style>
  </body>
</html>