<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break">
      <div class="methodStatement">
        <img
          class="image"
          src="http://localhost:5000/images/templateImages/methodStatement7.png"
          alt="logo"
        />
      </div>
    </section>
    <style>
      .methodStatement .image { width: 100%; height: 820pt;} .page-break { page-break-after: always; }
    </style>
  </body>
</html>