<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <section class="page-break" style="position: relative; margin: 5%">
      <div class="siteAttendance2">
        <img
          class="logo"
          src="http://localhost:5000/images/templateImages/logo.png"
          alt="logo"
        />
        <div>
          <h1>SITE ATTENDANCE REGISTER</h1>
        </div>
        <table>
          <thead>
            <tr>
              <th style="width: 100px;">
                Have you had close contact with anyone who has covid-19 symptoms
                or is a confirmed case of covid-19? if Yes, please leave the
                site and contact your GP for advice
              </th>
              <th>
                Have you experienced any of the following symptoms?<br />
                * Fever (Temperature of 38 degrees celsius or above)<br />
                * Cough<br />
                * Shortness of breath<br />
                * Breathing difficulties<br />
                * Aches or pains<br />
                * Sore throat<br />
                * Runny or stuff nose<br />
                If Yes, please leave the site and contact your GP for advice
              </th>
              <th>SIGNATURE:</th>
              <th>COMPANY:</th>
              <th>DATE:</th>
            </tr>
          </thead>
          <tbody class="landscape">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <style>
      .siteAttendance2 .logo { position: absolute; top: 0; right: 0; width:
      100px; height: 50px; } .siteAttendance2 table { border-collapse: collapse;
      width: 100%; margin-top: 30px; } .siteAttendance2 th, .siteAttendance2 td
      { border: 1px solid #ddd; padding: 8px; text-align: left; font-size: 11px;
      word-wrap: break-word; overflow-wrap: break-word; max-width: 240px;}
      .siteAttendance2 th { background-color: #f2f2f2; } .siteAttendance2 tr {
      height: 36px; } .siteAttendance2 img {height: 20px; width: auto; margin:
      0; padding: 0;} .page-break { page-break-after: always; }
    </style>
  </body>
</html>