<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="templateStyle.module.css" />
  </head>
  <body>
    <section>
      <img class="logo" src="./logo.png" alt="logo" />
      <div>
        <h1>SITE ATTENDANCE REGISTER</h1>
      </div>
      <table>
        <thead>
          <tr>
            <th>PRINT NAME:</th>
            <th>SIGNATURE:</th>
            <th>LOCATION:</th>
            <th>TIME IN:</th>
            <th>TIME OUT:</th>
          </tr>
        </thead>
        <tbody>
          <% myMap.forEach(function(value, key) { %>
          <tr>
            <td><%= users[key].name %></td>
            <td>
              <img
                src="../images/documents/<%= value.image %>"
                alt="signature"
              />
            </td>
            <td><%= users[key].data1 %></td>
            <td><%= users[key].data2 %></td>
            <td><%= users[key].data3 %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <p>Please turn over</p>
    </section>
  </body>
</html>
